* {
  margin: 0em;
  padding: 0em;
}

a.admin-link:hover {
  text-decoration: underline;
}

a.cancel {
  color: gray;
  margin-right: 2em;
}

a.category-option {
  padding: 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

a.category-option:hover {
  background-color: #000060;
}

a.cancel:hover, a.confirm-delete:hover, a.confirm-cat-change:hover,
a.change-cat:hover, a.delete:hover {
  text-decoration: underline;
}

a.confirm-delete, a.confirm-cat-change {
  color: gray;
  margin-right: 1em;
}

a.close {
  text-decoration: underline;
  float: right;
}

a.desc-link:link {
  font-weight: bold;
  text-decoration: underline;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a.nav-link, a.photo-link {
  transition: text-shadow .1s linear;
  -moz-transition: text-shadow .1s linear;
  -webkit-transition: text-shadow .1s linear;
}

a.nav-link:hover, a.photo-link:hover {
  text-shadow: 0px 0px 2px white;
  transition: text-shadow .15s linear;
  -moz-transition: text-shadow .15s linear;
  -webkit-transition: text-shadow .15s linear;
}

a#change-splash-photo {
  background-color: black;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  opacity: 0.4;
  padding: 4px;
  position: absolute;
  text-shadow: none;
  top: 0px;
  right: 0px;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  z-index: 1;
}

a#change-splash-photo:hover {
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

a.purchase {
  background-color: black;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  opacity: 0.4;
  padding: 4px;
  position: absolute;
  text-shadow: none;
  top: 0px;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  z-index: 1;
}

a.purchase:hover {
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

a.selected-cat {
  background-color: #000080;
}

body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

div#banner {
  background-color: black;
  box-shadow: 0px 3px 5px #000030;
  -moz-box-shadow: 0px 3px 5px #000030;
  -webkit-box-shadow: 0px 3px 5px #000000;
  font-size: 16pt;
  opacity: 0.8;
  padding: 10px;
}

div#banner-container {
  font-weight: bold;
  position: relative;
  top: 400px;
}

div#bio {
  background-color: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 1px 1px 4px #000000;
  -moz-box-shadow: 1px 1px 4px #000000;
  -webkit-box-shadow: 1px 1px 4px #000000;
  left: 50%;
  top: 30px;
  margin-left: -300px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 600px;
  height: 300px;
  overflow: auto;
}

div#bio p {
  margin-top: 1em;
}

div#bio p:first-child {
  margin-top: 0em;
}

div.cat-chooser {
  text-align: center;
}

div.cat-chooser p {
  margin-bottom: 5px;
}

div#contact-info, div#purchase-info {
  background-color: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 1px 1px 4px #000000;
  -moz-box-shadow: 1px 1px 4px #000000;
  -webkit-box-shadow: 1px 1px 4px #000000;
  left: 50%;
  top: 20%;
  margin-left: -300px;
  padding: 10px;
  position: absolute;
}

div#contact-info {
  width: 200px;
}

div#purchase-info {
  width: 350px;
}

div#container {
  left: 50%;
  margin-left: -400px;
  padding-top: 20px;
  position: fixed;
  width: 800px;
}

div.delete-dialog, div.cat-chooser, div.purchase-information {
  background-color: black;
  border-radius: 5px;
  -moz-border-radius: 10px;
  color: white;
  left: 50%;
  margin-left: -190px;
  padding: 5px;
  position: absolute;
  top: 60%;
  width: 380px;
  z-index: 3;
}

div.delete-dialog p:first-child,
div.cat-chooser p:first-child {
  text-align: center;
}

p.choice {
  margin-top: 10px;
  text-align: right;
}

div.move-right, div.move-left {
  background-color: black;
  box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  font-size: 30pt;
  height: 100px;
  line-height: 100px;
  margin-top: -50px;
  min-width: 50px;
  opacity: 0.5;
  text-align: center;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  position: absolute;
  top: 50%;
}

div.move-right:hover, div.move-left:hover {
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

div.move-right {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  right: 0px;
}

div.move-left {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  left: 0px;
}

div.photo-container {
  position: relative;
}

div.photo-shadow {
  background-color: white;
  height: 100%;
  opacity: 0.5;
  width: 100%;
  position: absolute;
  z-index: 2;
}

div#photos-container {
  background-color: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 5px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  height: 450px;
  padding: 10px 0px 10px 20px;
  position: absolute;
  top: 90px;
  min-width: 800px;
  z-index: 10;
}

div#photos-container table {
  height: 100%;
}

div#settings-container {
  border: thin solid gray;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 20px auto;
  padding: 4px;
  width: 600px;
}

div#settings-container tr {
  border-bottom: thin solid #303030;
  border-top: thin solid #303030;
}

div#settings-container tr:first-child,
div#settings-container tr:last-child {
  border-bottom: none;
  border-top: none;
}

div#settings-container td {
  padding: 10px;
}

div#settings-shadow {
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: 0.65;
  position: absolute;
  width: 600px;
  z-index: 2;
}

div#splash {
  background-repeat: no-repeat;
  background-position: center center;
  height: 535px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
}

div#splash-shadow {
  background-color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

footer {
  color: gray;
  font-size: small;
  margin-top: 1em;
  text-align: right;
}

form {
  font-weight: bold;
}

form#photo-upload-form {
  margin-top: 10px;
}

h1 {
  margin: 0px 0px 20px 0px;
  font-family: 'Raleway', sans-serif;
}

/*input[type=text] {
  border: none;
}*/

input[type=button] {
  padding: 2px;
  float: right;
}

input.credentials {
  border: none;
  /*border-radius: 3px;
  -moz-border-radius: 3px;*/
  font-size: 14pt;
  padding-left: 3px;
  padding-right: 3px;
}

input#new-cat-name {
  border: none;
  /*border-radius: 2px;
  -moz-border-radius: 2px;*/
  font-size: 14pt;
  padding-left: 3px;
  padding-right: 3px;
}

input#spacing {
  border: none;
  padding: 2px;
  text-align: right;
  width: 40px;
}

p.description {
  margin-top: 10px;
}

p.description a:hover {
  text-decoration: underline;
}

span.drag {
  margin-left: 5px;
}

table {
  border-collapse: collapse;
}

table#categories {
  width: 100%;
}

table#login-form {
  margin: 10px auto 0em auto;
  font-size: 14pt;
}

table#login-form td {
  padding: 3px;
  text-align: right;
}

table#settings-table {
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 100%;
}

table#settings-table ul {
  list-style-type: none;
}

/*
table#settings-table ul li {
  display: inline;
}

table#settings-table ul li:after {
  content: ", ";
}

table#settings-table ul li:last-child:after {
  content: "";
}
*/

td.cat-options {
  text-align: right;
}

td.photo-cell {
  padding-left: 10px;
}

td.photo-cell:first-child {
  padding-left: 0px;
}

textarea {
  padding: 2px;
  width: 100%;
}

tr#the-row td:first-child img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

tr#the-row td img {
  vertical-align: middle;
}

ul#admin-links {
  list-style-type: none;
  position: absolute;
  right: 0px;
}

ul#admin-links li {
  display: inline;
  margin-right: 10px;
}

ul#admin-links li:last-child {
  margin-right: 0px;
}

ul.category-list {
  list-style-type: none;
  display: inline;
  max-width: 380px;
}

ul.category-list li {
  display: inline;
  margin-left: 2em;
}

ul.category-list li:first-child {
  margin-left: 0em;
}

ul.edit-menu {
  background-color: black;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  bottom: 0px;
  opacity: 0.4;
  padding: 4px;
  position: absolute;
  list-style-type: none;
  text-align: right;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  right: 0px;
  z-index: 1;
}

ul.edit-menu:hover {
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

ul.edit-menu li {
  display: inline;
  margin-right: 10px;
/*  position: relative;*/
}

ul.edit-menu li:last-child {
  margin-right: 0px;
}

ul.menu {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  list-style-type: none;
}

ul.menu li {
  display: inline;
  margin-right: 30px;
  position: relative;
}

ul.menu li:last-child {
  margin-right: 0px;
}

ul.photos {
  list-style-type: none;
}

ul.photos li {
  display: inline;
}

ul.submenu {
  display: inline;
  font-size: 11pt;
  text-align: left;
  margin-left: 20px;
}

ul.submenu li {
  margin-right: 8px;
}

.darker {
  color: gray;
}

.flash, .error {
  border: thin solid gray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  color: white;
  left: 50%;
  margin-left: -200px;
  opacity: 0.9;
  padding: 10px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.flash {
  background: black;
}

.error {
  background: #990000;
}

.hidden {
  visibility: hidden;
}

.highlighted {
  box-shadow: 0px 0px 4px #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px #FFFFFF;
}

.selected {
  text-shadow: 0px 0px 3px white;
}

.placeholder {
  background-color: yellow;
  width: 50px;
  height: 100%;
}
