* {
  margin: 0em;
  padding: 0em;
}

a.close {
  text-decoration: underline;
  float: right;
}

a.delete {
  float: right;
  margin-right: 5px;
}

a.desc-link:link {
  font-weight: bold;
  text-decoration: underline;
}

/* a.desc-link:hover { */
/*   text-shadow: none; */
/* } */

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a#logout {
  font-weight: bold;
  position: absolute;
  right: 0px;
}

/* a:hover { */
/*   text-shadow: 0px 0px 3px white; */
/* } */

a.nav-link, a.photo-link {
  transition: text-shadow .1s linear;
  -moz-transition: text-shadow .1s linear;
  -webkit-transition: text-shadow .1s linear;
}

a.nav-link:hover, a.photo-link:hover {
  text-shadow: 0px 0px 2px white;
  transition: text-shadow .15s linear;
  -moz-transition: text-shadow .15s linear;
  -webkit-transition: text-shadow .15s linear;
}

a.purchase {
  background-color: black;
  border-bottom-right-radius: 4px;
  -mox-border-radius-bottomright: 4px;
  box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  opacity: 0.4;
  padding: 4px;
  position: absolute;
  text-shadow: none;
  top: 0px;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

a.purchase:hover {
  opacity: 1;
  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

body {
  color: white;
  background-color: black;
  /* font-family: 'Raleway', sans-serif; */
  /*font-family: 'Cabin', sans-serif;*/
  font-family: sans-serif;
}

div#banner {
  background-color: black;
  box-shadow: 0px 3px 5px #000030;
  -moz-box-shadow: 0px 3px 5px #000030;
  -webkit-box-shadow: 0px 3px 5px #000000;
  font-size: 16pt;
  opacity: 0.8;
  padding: 10px;
}

div#banner-container {
  font-weight: bold;
  position: relative;
  top: 400px;
}

div#contact-info {
  background-color: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 5px 5px 5px #000030;
  -moz-box-shadow: 5px 5px 5px #000030;
  -webkit-box-shadow: 5px 5px 5px #000030;
  /*font-family: 'Cabin', sans-serif;*/
  font-family: sans-serif;
  left: 50%;
  top: 20%;
  margin-left: -300px;
  padding: 10px;
  position: absolute;
  width: 200px;
}

div#container {
  margin: 0px auto;
  padding-top: 20px;
  position: relative;
  width: 800px;
}

div.edit-menu {
  background-color: black;
  opacity: 0.8;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

div.photo-container {
  position: relative;
}

div.photo-shadow {
  background-color: white;
  height: 100%;
  opacity: 0.5;
  width: 100%;
  position: absolute;
}

div#photos-container {
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  box-shadow: 0px 0px 5px #000000;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  height: 450px;
  left: 20px;
  padding: 10px 0px 10px 20px;
  position: absolute;
  top: 20px;
  width: 100%;
}

div#photos-container table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

/* div.small-banner { */
/*   background-color: black; */
/*   border-bottom-left-radius: 4px; */
/*   border-top-left-radius: 4px; */
/*   -moz-border-radius-topleft: 4px; */
/*   -moz-border-radius-bottomleft: 4px; */
/*   border-top: thin solid #444444; */
/*   box-shadow: 0px 3px 5px #000030; */
/*   -moz-box-shadow: 0px 3px 5px #000030; */
/*   -webkit-box-shadow: 0px 3px 5px #000000; */
/*   font-size: 11pt; */
/*   margin-top: 4px; */
/*   opacity: 0.8; */
/*   padding: 10px; */
/*   float: right; */
/* } */

div#splash {
  background-repeat: no-repeat;
  height: 535px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
}

div#splash-shadow {
  background-color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

footer {
  color: gray;
  font-size: small;
  margin-top: 1em;
  text-align: right;
}

form {
  font-weight: bold;
}

form#add-photo-form {
  margin-top: 10px;
}

h1 {
  margin: 0px 0px 20px 0px;
  font-family: 'Raleway', sans-serif;
}

/* h1 a:hover { */
/*   text-shadow: none; */
/* } */

input.credentials {
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14pt;
  padding-left: 3px;
  padding-right: 3px;
}

p.description {
  margin-top: 10px;
}

span.drag {
  margin-left: 5px;
}

table#login-form {
  margin: 10px auto 0em auto;
  font-size: 14pt;
}

table#login-form td {
  padding: 3px;
  text-align: right;
}

td.photo-cell {
  padding-left: 10px;
}

td.photo-cell:first-child {
  padding-left: 0px;
}

tr#the-row td:first-child img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

tr#the-row td img {
  vertical-align: middle;
}

ul.menu {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  list-style-type: none;
}

ul.menu li {
  display: inline;
  margin-right: 30px;
  position: relative;
}

ul.menu li:last-child {
  margin-right: 0px;
}

ul.photos {
  list-style-type: none;
}

ul.photos li {
  display: inline;
}

ul.submenu {
  display: inline;
  font-size: 11pt;
  text-align: left;
  margin-left: 20px;
}

ul.submenu li {
  margin-right: 8px;
}

.darker {
  color: gray;
}

.flash, .error {
  border: thin solid gray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  color: white;
  left: 50%;
  margin-left: -200px;
  opacity: 0.9;
  padding: 10px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.flash {
  background: black;
}

.error {
  background: #990000;
}

.hidden {
  visibility: hidden;
}

.highlighted {
  box-shadow: 0px 0px 4px #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px #FFFFFF;
}

.selected {
  text-shadow: 0px 0px 3px white;
}

.placeholder {
  background-color: yellow;
  width: 50px;
  height: 100%;
}
