{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
{% if session.logged_in %}
<p class="description">This page allows you to upload one or more photos and
apply a <em>single</em> category to the set.</p>

<form action="{{ url_for('add_photos') }}" method="post"
      enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {{ render_field(form.photos, multiple="multiple") }}
  {{ render_field(form.category) }}
  <div><input type="submit" value="Submit" /></div>
</form>
{% else %}
<p class="description">Only the administrator may add photos.
  <a href="{{ url_for('login') }}" class="desc-link">Login.</a></p>
{% endif %}
{% endblock %}
