{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <!-- splash page javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='splash.js') }}"></script>
  {% if session.logged_in %}
  <!-- this should only show up if a user is logged in -->
  <!-- javascript for editing photo positions -->
  <script type="text/javascript" src="{{ url_for('static', filename='edit-photos.js') }}"></script>
  {% endif %}
{% endblock %}
{% block content %}
    <div id="splash" style="background-image: url({{ url_for('static',
    filename='splash.jpg') }});">
      <div id="splash-shadow"></div>
      <div id="contact-info">
        {{ name }}<br />{{ email }}<br />{{ phone }}
      </div>
      <div id="photos-container">
        <table><tbody><tr id="the-row"><td></td></tr></tbody></table>
      </div>
      <div id="banner-container">
        <div id="banner">
          <ul class="menu">
            <li>
              <a href="#" class="nav-link" id="photos-link">photos</a>
              <ul class="submenu">
                <li><a href="#" class="photo-link" id="portrait">portrait</a></li>
                <li><a href="#" class="photo-link" id="landscape">landscape</a></li>
                <li><a href="#" class="photo-link" id="personal">personal</a></li>
              </ul>
            </li>
            <li><a href="#" class="nav-link" id="purchase-link">purchase</a></li>
            <li><a href="#" class="nav-link" id="contact-link">contact</a></li>
            {% if session.logged_in %}
            <li><a href="{{ url_for('add_photos') }}" class="nav-link">add photos</a></li>
            {% endif %}
          </ul>
        </div>
<!--        <div class="small-banner" id="photos-banner">
          <ul class="menu">
            <li><a href="#" class="photo-link" id="portrait">portrait</a></li>
            <li><a href="#" class="photo-link" id="landscape">landscape</a></li>
            <li><a href="#" class="photo-link" id="personal">personal</a></li>
          </ul>
        </div>-->
      </div>
    </div>
{% endblock %}
