{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
  {% block styles %}
    {{ super() }}
  {% if session.logged_in %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/add_photos.css') }}" />
  {% endif %}
  {% endblock %}
  {% block scripts %}
    {{ super() }}
  <!-- javascript needed for adding a new category -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/add-photos.js') }}"></script>
  {% endblock %}
{% block content %}
{% if session.logged_in %}
<p class="description">This page allows you to upload one or more photos and
apply a <em>single</em> category to the set.</p>

<p class="description">Note: images will be scaled to {{ height }} pixels in
height so that they are all of uniform height and look better when displayed
all in a row. I suggest resizing your image to that height <em>before</em>
uploading it, so that you control how it looks!</p>

<form action="{{ url_for('add_photos') }}" method="post"
      enctype="multipart/form-data" id="add-photo-form">
  {{ form.hidden_tag() }}
  {{ render_field(form.photos, multiple="multiple") }}
  {{ render_field(form.category) }}
  <p id="new-category">
    <label for="new-cat-name">New category name:</label>
    <input name="new-cat-name" id="new-cat-name" type="text" />
  </p>
  <div><input type="submit" value="Submit" /></div>
</form>
{% else %}
<p class="description">Only the administrator may add photos.
  <a href="{{ url_for('login') }}" class="desc-link">Login.</a></p>
{% endif %}
{% endblock %}
