{# Copyright 2011 Jeffrey Finkelstein #}
{# #}
{# This file is part of Ophot. #}
{# #}
{# Ophot is free software: you can redistribute it and/or modify it #}
{# under the terms of the GNU Affero General Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# Ophot is distributed in the hope that it will be useful, #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Affero General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License #}
{# along with Ophot.  If not, see <http://www.gnu.org/licenses/>. #}
{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block content %}
{% if session.logged_in %}
<p class="description">This page allows you to upload a photo to set as the
background on the splash page.</p>

<p class="description">Note: for now, I can only accept JPEG files.</p>

<p class="description">Note: images will be scaled to {{ width }} by {{ height
}} pixels. I suggest resizing your image to those dimensions <em>before</em>
uploading it, so that you control how it looks!</p>

<form action="{{ url_for('change_splash_photo') }}" method="post"
      enctype="multipart/form-data" id="photo-upload-form" class="upload-form">
  {{ form.hidden_tag() }}
  {{ render_field(form.photo) }}
  <div><input type="submit" value="Submit" /></div>
</form>
{% else %}
<p class="description">
  Only the administrator may change the photo on the splash page. <a href="{{
  url_for('login') }}" class="desc-link">Login.</a>
</p>
{% endif %}
{% endblock %}
