<!doctype html>
<html>
<head>
  {% block head %}
  <title>{{ realname }} photography</title>
  <meta charset="UTF-8" />

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')
  }}" />

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

  <!-- site styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

  <!-- jquery and jquery ui libraries -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <!-- set the script root so ajax requests know what our address is -->
  <script type="text/javascript">
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static',
  filename='layout.js') }}"></script>
  {% endblock %}
</head>
<body>
  <div id="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}<a href="#" class="close">X</a></div>
    {% endfor %}
    {% if session.logged_in %}
    <ul id="admin-links">
      <li><a href="{{ url_for('edit_settings') }}" id="settings" class="admin-link">settings</a></li>
      <li><a href="{{ url_for('logout') }}" id="logout" class="admin-link">logout</a></li>
    </ul>
    {% endif %}
    <h1><a href="{{ url_for('show_splash') }}">{{ realname }} <span class="darker">photography</span></a></h1>
    {% block content %}
    {% endblock %}
    <footer>
      {% block footer %}
      All photos copyright 2011 {{ realname }}.
      {% endblock %}
    </footer>
  </div>
</body>
</html>
