{# Copyright 2011 Jeffrey Finkelstein #}
{# #}
{# This file is part of Ophot. #}
{# #}
{# Ophot is free software: you can redistribute it and/or modify it #}
{# under the terms of the GNU Affero General Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# Ophot is distributed in the hope that it will be useful, #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Affero General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License #}
{# along with Ophot.  If not, see <http://www.gnu.org/licenses/>. #}
<!doctype html>
<html>
<head>
  <title>{{ realname }} photography</title>
  <meta charset="UTF-8" />

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  {% block styles %}
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

  <!-- site styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
  {% if session.logged_in %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/admin.css') }}" />
  {% endif %}
  {% endblock %}

  {% block scripts %}
  <!-- jquery and jquery ui libraries -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <!-- set the script root so ajax requests know what our address is -->
  <script type="text/javascript">
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/layout.js') }}"></script>
  {% endblock %}
</head>
<body>
  {# this block will only be implemented by the splash.html template #}
  {% block photos %}{% endblock %}
  <div id="container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}<a href="#" class="close">X</a></div>
    {% endfor %}
    {% if session.logged_in %}
    <ul id="admin-links">
      <li><a href="{{ url_for('settings') }}" id="settings" class="admin-link">settings</a></li>
      <li><a href="{{ url_for('logout') }}" id="logout" class="admin-link">logout</a></li>
    </ul>
    {% endif %}
    <h1><a href="{{ url_for('show_splash') }}">{{ realname }} <span class="darker">photography</span></a></h1>
    {% block content %}
    {% endblock %}
    <footer>
      <small id="copyright">All photos copyright 2011 {{ realname }}.</small>
      <small id="source">
        <a href="https://bitbucket.org/jfinkels/ophot">Website source code</a>
      </small>
    </footer>
  </div>
</body>
</html>
