{# Copyright 2011 Jeffrey Finkelstein #}
{# #}
{# This file is part of Ophot. #}
{# #}
{# Ophot is free software: you can redistribute it and/or modify it #}
{# under the terms of the GNU Affero General Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# Ophot is distributed in the hope that it will be useful, #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Affero General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License #}
{# along with Ophot.  If not, see <http://www.gnu.org/licenses/>. #}
{% extends "layout.html" %}
{% block styles %}
  {{ super() }}
  <!-- styles for login page elements -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/login.css') }}" />
{% endblock %}
{% block content %}
{% if error %}
<p class="error">
  <strong>Error:</strong> {{ error }} <a href="#" class="close">X</a>
</p>
{% endif %}
<form action="{{ url_for('login') }}" method=post>
  <table class="centered">
    <tbody>
      <tr>
        <td class="label">username</td>
        <td class="input-cell">
          <input type="text" name="username" class="credentials" />
        </td>
      </tr>
      <tr>
        <td class="label">password</td>
        <td class="input-cell">
          <input type="password" name="password" class="credentials" />
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="submit-cell">
          <input type="submit" value="Login" class="credentials" />
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
