{# Copyright 2011 Jeffrey Finkelstein #}
{# #}
{# This file is part of Ophot. #}
{# #}
{# Ophot is free software: you can redistribute it and/or modify it #}
{# under the terms of the GNU Affero General Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# Ophot is distributed in the hope that it will be useful, #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Affero General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License #}
{# along with Ophot.  If not, see <http://www.gnu.org/licenses/>. #}
{% extends "layout.html" %}
  {% block styles %}
    {{ super() }}
  <!-- some extra styles for displaying photos -->
  <style type="text/css">
    td.photo-cell {
      padding-left: {{ photo_padding }}px;
    }
  </style>

  <!-- jscrollpane style (must be included before the javascript) -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/jquery.jscrollpane.css') }}" />
  {% endblock %}
  
  {% block scripts %}
    {{ super() }}
  <!-- splash page javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/splash.js') }}"></script>
  
  <!-- jQuery debounce plugin to limit number of times an event fires -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.ba-throttle-debounce.min.js') }}"></script>

  <!-- javascript libraries required for jscrollpane to work -->

  <!-- mousewheel intent plugin which prevents the user from unintentionally
  getting caught in the scroll pane -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/mwheelIntent.js') }}"></script>

  <!-- the mousewheel plugin -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.mousewheel.js') }}"></script>

  <!-- the jScrollPane script -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.jscrollpane.min.js') }}"></script>

  {% if session.logged_in %}
  <!-- this should only show up if a user is logged in -->
  <!-- javascript for editing photos -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/edit-photos.js') }}"></script>
  {% endif %}

  <script type="text/javascript">
    var PURCHASE_EMAIL = "{{ purchase_email }}";
    var EDIT_ELEMENTS = "";
    {% if session.logged_in %}
    EDIT_ELEMENTS = 
    "    <div class=\"move-left\"><a href=\"#\">&larr;</a></div>\n"
    + "    <div class=\"move-right\"><a href=\"#\">&rarr;</a></div>\n"
    + "    <div class=\"delete-dialog\">\n"
    + "      <p>Are you sure you want to delete this photo?</p>\n"
    + "      <p class=\"choice\">\n"
    + "        <a href=\"#\" class=\"cancel\">Cancel</a>\n"
    + "        <a href=\"#\" class=\"confirm-delete\">Delete</a>\n"
    + "      </p>\n"
    + "    </div>\n"
    + "    <div class=\"cat-chooser\">\n"
    + "      <p>Change category to:</p>\n"
    + "      <ul class=\"category-list\"><li></li></ul>\n"
    + "      <p class=\"choice\">\n"
    + "        <a href=\"#\" class=\"cancel\">Cancel</a>\n"
    + "        <a href=\"#\" class=\"confirm-cat-change\">Save</a>\n"
    + "      </p>\n"
    + "    </div>\n"
    + "    <ul class=\"edit-menu\">\n"
    + "      <li>\n"
    + "        <a href=\"#\" class=\"change-cat\">change category</a>\n"
    + "      </li>\n"
    + "      <li><a href=\"#\" class=\"delete\">delete</a></li>\n"
    + "    </ul>\n";
    {% endif %}
  </script>
  {% endblock %}
{% block photos %}
  <div id="photos-container"
       class="photos-container black-background absolute-position">
    <table>
      <tbody>
        <tr id="the-row" class="photo-row">
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
{% block content %}
    <div id="splash" style="background-image: url({{ filename }});"
         class="splash">
      {% if session.logged_in %}
      <a href="{{ url_for('change_splash_photo') }}" id="change-splash-photo" class="hover-link upper-right bottom-left-rounded">
        change splash photo
      </a>
      {% endif %}
      <div id="splash-shadow" class="splash-shadow absolute-position"></div>
      <div id="contact-info"
           class="info-box black-background absolute-position">
        <div class="info-box-inner">
          {{ contact|safe }}
        </div>
      </div>
      <div id="bio" class="info-box black-background absolute-position">
        <div class="scroll-pane info-box-inner">
          {{ bio|safe }}
        </div>
      </div>
      <div id="purchase-info"
           class="info-box black-background absolute-position">
        <div class="info-box-inner">
          for pricing or to order prints, email
          <a href="mailto:{{ purchase_email }}">{{ purchase_email }}</a>.
        </div>
      </div>
        <div id="banner" class="banner black-background">
          <ul class="menu">
            <li>
              <a href="#" class="nav-link" id="photos-link">photos</a>
              <ul class="submenu">
                {% for (id, cname) in categories %}
                <li><a href="#" class="photo-link" id="{{ id }}">{{ cname }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="#" class="nav-link" id="purchase-link">purchase</a></li>
            <li><a href="#" class="nav-link" id="bio-link">bio</a></li>
            <li><a href="#" class="nav-link" id="contact-link">contact</a></li>
            {% if session.logged_in %}
            <li><a href="{{ url_for('add_photos') }}" class="nav-link">add&nbsp;photos</a></li>
            {% endif %}
          </ul>
        </div>
    </div>
{% endblock %}
