{# Copyright 2011 Jeffrey Finkelstein #}
{# #}
{# This file is part of Ophot. #}
{# #}
{# Ophot is free software: you can redistribute it and/or modify it #}
{# under the terms of the GNU Affero General Public License as published by #}
{# the Free Software Foundation, either version 3 of the License, or #}
{# (at your option) any later version. #}
{# #}
{# Ophot is distributed in the hope that it will be useful, #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU Affero General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU Affero General Public License #}
{# along with Ophot.  If not, see <http://www.gnu.org/licenses/>. #}
{% extends "layout.html" %}
  {% block styles %}
    {{ super() }}
  <!-- some extra styles for displaying photos -->
  <style type="text/css">
    td.photo-cell {
      padding-left: {{ photo_padding }}px;
    }
  </style>

  <!-- jscrollpane style (must be included before the javascript) -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/jquery.jscrollpane.css') }}" />
  {% endblock %}
  
  {% block scripts %}
    {{ super() }}
  <!-- splash page javascript -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/splash.js') }}"></script>
  
  <!-- jQuery debounce plugin to limit number of times an event fires -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.ba-throttle-debounce.min.js') }}"></script>

  <!-- javascript libraries required for jscrollpane to work -->

  <!-- mousewheel intent plugin which prevents the user from unintentionally
  getting caught in the scroll pane -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/mwheelIntent.js') }}"></script>

  <!-- the mousewheel plugin -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.mousewheel.js') }}"></script>

  <!-- the jScrollPane script -->
  <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.jscrollpane.min.js') }}"></script>

  {% if session.logged_in %}
  <!-- this should only show up if a user is logged in -->
  <!-- javascript for editing photos -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/edit-photos.js') }}"></script>
  {% endif %}

  <script type="text/javascript">
    var PURCHASE_EMAIL = "{{ purchase_email }}";
  </script>
  {% endblock %}
{% block photos %}
  <div id="photos-container">
    <table><tbody><tr id="the-row"><td></td></tr></tbody></table>
  </div>
{% endblock %}
{% block content %}
    <div id="splash" style="background-image: url({{ filename }});">
      {% if session.logged_in %}
      <a href="{{ url_for('change_splash_photo') }}" id="change-splash-photo" class="hover-link upper-right bottom-left-rounded">
        change splash photo
      </a>
      {% endif %}
      <div id="splash-shadow"></div>
      <div id="contact-info" class="info-box">
        <div class="info-box-inner">
          {{ contact|safe }}
        </div>
      </div>
      <div id="bio" class="info-box">
        <div class="scroll-pane info-box-inner">
          {{ bio|safe }}
        </div>
      </div>
      <div id="purchase-info" class="info-box">
        <div class="info-box-inner">
          for pricing or to order prints, email
          <a href="mailto:{{ purchase_email }}">{{ purchase_email }}</a>.
        </div>
      </div>
      <div id="banner-container">
        <div id="banner">
          <ul class="menu">
            <li>
              <a href="#" class="nav-link" id="photos-link">photos</a>
              <ul class="submenu">
                {% for (id, cname) in categories %}
                <li><a href="#" class="photo-link" id="{{ id }}">{{ cname }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="#" class="nav-link" id="purchase-link">purchase</a></li>
            <li><a href="#" class="nav-link" id="bio-link">bio</a></li>
            <li><a href="#" class="nav-link" id="contact-link">contact</a></li>
            {% if session.logged_in %}
            <li><a href="{{ url_for('add_photos') }}" class="nav-link">add&nbsp;photos</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
